*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212; 
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.music-player-body {
  width: 400px;
  height: 600px;
  padding: 25px;
  border-radius: 20px;
  background: #181818;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8),
              0 5px 30px rgba(15, 171, 69, 0.3); 
  text-align: center;
  color: #fff;
}

.music-player-body  h2 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}

.music-player-body h4 {
  font-size: 14px;
  margin-bottom: 20px;
  color: #b3b3b3;
}

audio {
  display: none; 
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #404040;
}





