*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212; 
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.music-player-body {
  width: 400px;
  height: 600px;
  color: #fff;
}
